<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="3.1">
	<display-name>treasure.web</display-name>
	<filter>
		<filter-name>jersey</filter-name>
		<filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.ntr1x.treasure.web.AppConfig</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>
				io.swagger.jaxrs.listing.ApiListingResource,
                io.swagger.jaxrs.listing.SwaggerSerializers,
				com.ntr1x.treasure.web.providers.CORSRequestFilter
				com.ntr1x.treasure.web.providers.CORSResponseFilter
				com.ntr1x.treasure.web.providers.UserElementFilter
				com.ntr1x.treasure.web.providers.SecurityRequestFilter
				org.glassfish.jersey.filter.LoggingFilter
			</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>jersey</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>